<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
<title>Twitch</title>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="{{ asset('img/favicon.png') }}">Twitch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('listTwitchers') }}">Liste streamer</a>
                </li>
                {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('addTwitcher') }}">Ajouter un streamer</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav mr-auto">
                {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('signup') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}<p>Hello {{ app.user.username }}</p>{% endif %}

</header>