<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
<title>Twitch</title>
<header>
    <img src="{{ asset('img/favicon.png') }}">
    <h1>Twitch</h1>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a>
            </li>
        </ul>
    </nav>
</header>

<footer><p>©Bucket-List 2018
        By Fabián Alexis (https://github.com/fabianalexisinostroza/Antu) [<a
                href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a
                href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia
            Commons</a></p>
</footer>

<script src="{{ asset('js/script.js') }}"></script>
